.container h1{
    color: red;
    position: relative;
    margin-top:20px ;
    height: 50px;
    max-height: 30px;
    min-height:60px ;


}
span{
    border: 2px solid black;
    color: blue;
    height:15px; 
    width: 20px;

    overflow: auto;
}